
.empty-div {
    border-top: 4px solid #ffbf52;
    margin-bottom: 60px;
    width: 60px;
}

.hero-h1 {
    font-size: 75px;
    font-family: "fraunces",serif;
    font-weight: bold;
    color: #351e15;
    margin-bottom: 20px;
}

.hero-font {
    font-family: "montserrat", sans-serif;
    font-size: 18px;
    color: #351e15;
}

.enroll-btn {
    background-color: #ffbf52;
    width: 150px;
    padding: 8px;
    letter-spacing: 1;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.cta-btn-div {
    margin-bottom: 150px;
}

.enroll-btn {
    font-weight: 500;
    letter-spacing: 1;
}

.enroll-btn:hover {
    background-color: #351e15;
    transition: all 0.3s ease;
}

.btn-container{
    cursor: pointer;
}

.btn-container:hover {
    border-bottom: 2px solid #ffbf52;
    color: #351e15;
}

.view-btn {
    font-size: 14px;
    letter-spacing: 1;
    font-weight: 500;
    font-family: "montserrat", sans-serif;
    font-weight: 500;
}

.media-div {
    margin-bottom: 40px;
}

.about-hero-span {
    color: #351e15;
    font-family: "fraunces", sans-serif;
    font-weight: 650;
}

.about-hero-h1 {
    font-size: 45px;
    font-family: "fraunces", sans-serif;
    font-weight: 650;
    color: #351e15;
}

.about-hero-p1 {
    font-size: 18px;
    font-weight: 600;
    color: #351e15;
    font-family: "montserrat", sans-serif;
    margin-bottom: 20px;
}

.about-hero-p2 {
    font-size: 18px;
    color: #351e15;
    font-family: "montserrat", sans-serif;
    margin-bottom: 20px;
}

.more-about-info {
    border: 1px solid #351e15;
    width: 200px;
    padding: 8px;
    color: #351e15;
    font-size: 14px;
    font-family: "montserrat", sans-serif;
    letter-spacing: 1;
    border-radius: 3px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.more-about-info:hover {
    background-color: #351e15;
    color: #ffffff;
    transition: all 0.3s ease;
}

.before-footer-section {
    position: relative;
}

.square {
    background-color: #ffbf52;
    width: 20px;
    height: 20px;
    color: #ffbf52;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.before-footer-section-info h1 {
    font-size: 50px;
    font-family: "fraunces", sans-serif;
    font-weight: 700;
    color: #351e15;
}

.before-footer-section-info span {
    font-family: "montserrat", sans-serif;
    font-size: 20px;
    color: #351e15;
}

.before-footer-section-info-button {
    border: 1px solid #351e15;
    width: 200px;
    padding: 7px;
    border-radius: 5px;
    color: #351e15;
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.3s ease;
}

.before-footer-section-info-button:hover {
    background-color: #351e15;
    color: #ffffff;
    transition: all 0.3s ease;
}

.card-div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   
}

.baking-course-div {
    border: 1px solid gainsboro;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.baking-course-div h1 {
    font-size: 35px;
    font-family: "fraunces", sans-serif;
    font-weight: 500;
    color: #351e15;
    padding-left: 10px;
    margin: 0;
}

.baking-course-div p {
    font-family: "montserrat", sans-serif;
    padding: 10px;
    color: #351e15;
    font-size: 16px;
}

.baking-course-btn {
    margin: 0 auto;
    width: 350px;
    padding-bottom: 20px;
}

.baking-course-btn button {
    width: 100%;
    background-color: #428bca;
    padding: 6px;
    border-radius: 5px;
    color: white;
    font-family: "montserrat", sans-serif;
    transition: all 0.3s ease;
}

.baking-course-btn button:hover {
    background-color: #116ec0;
    transition: all 0.3s ease;
}

.after-card-main-div {
    border-top: 1px solid #351e15;
    border-bottom: 1px solid #351e15;
    margin-bottom: 100px;
}

.after-card-div h1 {
    font-size: 25px;
    font-family: "fraunces", sans-serif;
    color: #351e15;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 60px;
}

.after-card-div p {
    font-family: "montserrat", sans-serif;
    font-size: 14px;
    margin-bottom: 60px;
}

.review-section h1 {
    text-align: center;
    font-size: 50px;
    font-family: "fraunces", sans-serif;
    color: #351e15;
    font-weight: 600;
    margin-bottom: 40px;
}


.review-section-card{
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}

.review-section-card img {
    height: 60px;
    width: 60px;
    border-radius: 50px;
}

.reviewer {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.reviewer p {
    font-size: 18px;
    font-weight: 600;
    color: #351e15;
    margin-bottom: 20px;
    font-family: "montserrat", sans-serif;
}

.reviewer span {
    font-size: 18px;
    color: #351e15;
    font-family: "montserrat", sans-serif;
}

.square2-div {
    position: relative;
    margin-bottom: 100px;
}

.square2 {
    background-color: #ffbf52;
    width: 20px;
    height: 20px;
    color: #ffbf52;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.blog-title-btn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.blog-title-btn h1 {
    font-size: 40px;
    font-family: "fraunces", sans-serif;
    font-weight: 600;
    color: #351e15;
}

.blog-title-btn button {
    border: 1px solid #351e15;
    width: 120px;
    height: 45px;
    padding: 10px;
    font-size: 14px;
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.3s ease;
    color: #351e15;
}

.blog-title-btn button:hover {
    background-color: #351e15;
    transition: all 0.3s ease;
    color: black;
}

.blog-title h1 {
    font-size: 24px;
    font-family: "fraunces", sans-serif;
    font-weight: 600;
    color: #351e15;
    margin-bottom: 15px;
}

.blog-title p {
    font-family: "montserrat", sans-serif;
    color: #351e15;
    margin-bottom: 30px;
}

.blog-title button {
    font-family: "montserrat", sans-serif;
}

.blog-title button:hover {
    border-bottom: 2px solid #ffbf52;
}

.square3-div {
    position: relative;
}

.square3 {
    background-color: #ffbf52;
    width: 20px;
    height: 20px;
    color: #ffbf52;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.cta-section {
    margin-top: 200px;
    text-align: center;
}

.cta-section p {
    font-family: "fraunces", sans-serif;
    font-weight: 500;
    color: #351e15;
    margin-bottom: 20px;
}

.cta-section h1 {
    font-size: 40px;
    font-family: "fraunces", sans-serif;
    font-weight: 600;
    color: #351e15;
    margin-bottom: 20px;
}

.cta-section button {
    width: 180px;
    border: 1px solid #351e15;
    padding: 8px;
    margin-bottom: 80px;
    font-family: "montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    color: #351e15;
    transition: all 0.3s ease;
}

.cta-section button:hover {
    background-color: #351e15;
    transition: all 0.3s ease;
    color: #351e15;
}

.customize-btn {
    position: fixed;
    top: 50%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 14px;
    width: 150px;
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 3px 8px  rgba(55, 52, 53, 0.2);
    transition: all 0.3s ease;
}

.customize-btn button {
    font-size: 14px;

}

.customize-btn:hover {
    background-color: #ffffff;
    color: #116ec0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.customize-btn:hover svg {
    fill: #116ec0;
    transition: all 0.3s ease;
}

.responsive-media-about-br-2, .responsive-media-about-br-3, .vitae-br , .imperdiet-br{
    display: none;
}

.blog-v-p {
    display: none;
}

@media (max-width: 768px) {
    .hero-h1 {
        font-size: 40px;
    }

    .responsive-br2-768 {
        display: none;
    }

    .responsive-br-3-768 {
        display: none;
    }

    .hero-font {
        font-size: 14px;
    }

    .cta-btn-div {
    margin-bottom: 50px;
    }

    .about-hero-span {
        font-size: 12px;
        color: #8d7b74;
    }

    .about-hero-h1 {
        font-size: 32px;
        margin: 20px 0px 30px 0px;
    }

    .responsive-media-about-br {
        display: none;
    }

    .responsive-media-about-br-2 , .vitae-br, .imperdiet-br{
    display: block;
    }

    .eliminate-of-br, .purus-br {
        display: none;
    }

    .baking-course4-container {
        width: 300px;
    }

    .about-hero-p1 {
        font-size: 16px;
        margin-left: 40px;
        margin-bottom: 30px;
    }

    .about-hero-p2 {
        font-size: 14px;
        margin-left: 40px;
    }

    .more-about-info {
        width: 150px;
        padding: 6px;
        font-size: 14px;
        margin-left: 40px;
        margin-top: 40px;
    }

    .before-footer-section-info h1 {
        font-size: 28px;
    }

    .before-footer-section-info span {
        font-size: 14px;
    }

     .before-footer-section-info-button {
        width: 150px;
        font-size: 12px;
    }

     .card-div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   
   }
   .baking-course-div {
    border: 1px solid gainsboro;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.baking-course-div h1 {
    font-size: 16px;
}

.baking-course-div p {
    font-size: 12px;
}

.baking-course-btn {
    margin: 0 auto;
    width: 200px;
}

   .after-card-div {
    margin: 20px;
   }


    .after-card-div h1 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .review-section h1 {
       font-size: 24px;
    }

    .reviewer p {
      font-size: 10px;
      margin-bottom: 8px;
    }

    .reviewer img {
        width: 40px;
        height: 40px;
        border-radius: 50px;
    }

    .reviewer span {
        font-size: 10px;
    }

    .blog-title-btn h1 {
        font-size: 26px;
    }

    .blog-title-btn button {
        font-size: 12px;
        width: 100px;
    }

    .blog-div {
        padding: 10px;
        display: flex;
        gap: 30px;
        margin-left: 20px;
    }

    .blog-title h1 {
        font-size: 14px;
    }

    .blog-title p {
        font-size: 10px;
    }

    .blog-title button {
        font-size: 12px;
    }

}


@media (max-width: 600px) {
    .empty-div {
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
    }

    .hero-h1 {
        text-align: center;
    }

    .hero-font {
        text-align: center;
    }

    .cta-btn-div {
        display: flex;
        flex-direction: column;
    }

    .enroll-btn {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 60px;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    .view-btn {
        margin-right: 50px;
    }

    .media-div {
        display: flex;
        justify-content: center;
    }

    .baking-course {
        display: none;
    }

    .about-div {
        display: flex;
        flex-direction: column;
    }

    .baking-course4-container {
        display: none;
    }

    .more-about-div {
        margin-right: 140px;
    }

    .about-hero-p1, .about-hero-p2 {
        font-size: 17px;
    }

    .before-footer-section-info span {
       font-size: 12px;
    }
    
      .card-div {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
    width: 100%;
}

.baking-course-div {
    width: 100%;
    margin-left: 20px;
}

.baking-course-div h1 {
    font-size: 28px;
    padding: 5px;
}

.baking-course-div p {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
}

.baking-course-btn  {
    width: 500px;
}

.baking-course-btn button {
    width: 100%;
}

.after-card-main-div {
    display: flex;
    flex-direction: column;
}

.after-card-div p {
    margin: 0;
    font-size: 12px;
    padding-left: 10px;
}

.after-card-div h1 {
    margin: 10px;
    font-size: 20px;
}

.vitae-br, .purus-br, .dui-br, .audio-br, .review-title, .p-br, .blog-br, .blog-p-br{
    display: none;
}

.review-section h1 {
    text-align: center;
    font-size: 26px;
}

.review-section-card{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.reviewer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.reviewer img {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin-top: 30px;
}

.reviewer p {
    font-size: 16px;
}

.blog-title-btn {
    display: flex;
    flex-direction: column;
}

.blog-title-btn h1 {
    margin-bottom: 40px;
    font-size: 32px;
}

.blog-title-btn button {
    width: 150px;
    font-size: 14px;
}

.blog-div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.blog-title h1 {
    font-size: 24px;
}

.blog-title p {
    font-size: 14.569px;
    color: #8d7b74;
}

.blog-title button {
    color: #8d7b74;
}

.blog-v-p {
    display: block;
}

@media (max-width: 450px) {
    .baking-course-btn  {
    width: 200px;
}

.baking-course-btn button {
    width: 100%;
}

.before-footer {
    display: flex;
    flex-direction: column;
}

.about-hero-p2 {
    font-size: 18px;
}

.blog-title-btn h1 {
    font-size: 28px;
}

}

}